.subjectline {
    padding: 3px;
    width: 60%;
    display: flex;
}

.dropstyleclosetime {
    width: 30%;
    margin-left: 20px;
}

.agentavaliable {
    display: 'flex';
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 1% 0;
}

.ColumntypeText {
    display: flex;

}

.dashbboardlabelstyles {
    display: flex;
    //width: 51%;
    align-items: center;
}

.dashboard365dropdownStyles .css-yk16xz-control {
    min-height: 25px !important;
}

.dashboard365dropdownStyles .css-1pahdxg-control {
    min-height: 25px !important;
}

.ColumntypeText {
    display: flex;
    align-items: baseline;
}

.ColumntypeText label {
    font-weight: 400;
}

.svtogglebutton {
    width: 20%;
}

.FlexCenterBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}



.elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards infinite;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
}

.elementToFadeInAndOut div {
    width: 6px;
    height: 6px;
    background: var(--lightdarkColor);
    display: inline-block;
    margin-right: 2px;
    border-radius: 50%;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

.rotationclass {
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.toggleticket2 {
    float: right;
    margin-top: 0px;
}

.labelcontentticket {
    float: left;
}

.labelcontentticket2 {
    float: left;
    display: flex;
    align-items: center;
}

.disnone {
    display: none;
}

.div-space {
    margin-top: 20px;
}

.savebtn {
    padding-top: 15px;
    padding-bottom: 20px;
    display: inline-flex;
}

.rolescope {
    display: inline-block;
    margin-right: 10px;
}

.submit-btn {
    margin-top: 10px;
}

.marginspace {
    margin-top: 10px;
}

.marginspace2 {
    margin-top: 10px;
}

.add-btn button {
    margin-left: 20px;
}

.textfiled {
    margin-left: 20px !important;
}

.input-content {
    width: 50%;
    float: left;
}

.input-content1 {
    width: 47%;
    float: left;
    margin-left: 17px;
}

.submit-btn-new button {
    margin-top: 10px;
}

.submit-new {
    float: right;
    padding-top: 30px;
}

.submit-neww {
    float: right;
    padding-top: 30px;
}

.btn1 {
    min-width: 90px !important;
    max-width: 134px !important;
    padding-bottom: 3px;
}

.btn2 {
    min-width: 90px !important;
    max-width: 10px !important;
    margin-left: 10px !important;
    padding-bottom: 3px;
}

// .supervisorclass{
//     display:block;
//     margin-left: 20px;
// }
.supervisorclass {
    /* display: flex; */
    width: 20%;
    margin-left: unset;
    margin-bottom: 5px;
}

.syncbuttonicon {
    align-items: center;
    display: flex;
}

/*Pagination*/
.paginationBlk,
.paginationTopBlk {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    flex-flow: row;
    padding: 8px;
    align-content: flex-end;
    margin-left: auto;
    // background: #fff;
}

.paginationTopBlk label {
    margin-right: 2%;
}

.shownumberofpages {
    align-content: flex-start;
}

.previousandnext {
    align-content: flex-end;
    //margin-left: auto;
}

.shownumberofpages span {
    font-weight: 400;
    font-size: 14px;
    // THEMES1
    color: var(--lightThemeTextColorBlack) !important;

}

.previousandnext {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.previousandnext button,
.previousandnext button span {
    border: 0px;
    font-size: 14px;
    font-weight: 400;
    background: none;
}

.previousandnext>span {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    cursor: pointer;
    padding: 5px 10px;
    // THEMES1
    // background-color: var(--lightThemeBGcolorWhite) !important;
    background-color: var(--lightThemeHoverBGColor) !important;
    color: var(--lightThemeTextColorBlack) !important;
}

.prevnext {
    min-width: 40px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;

    //THEMES1
    color: var(--lightThemeTextColorBlack) !important;
}

/*pagination*/
.commBarandSearchStyles {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    // THEMES1
    // background-color: var(--lightThemeBGcolorWhite) !important; // Conflict
    background-color: var(--lightThemePanelBGSwitcher) !important;

    .ms-Icon {
        // color: var(--lightThemeTextColorBlack) !important;
        // CONFLICT.
        color: var(--lightThemePivotTextBlack) !important;
    }
}

.commBarandSearchStylesUsers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commBarandSearchStyles>div:last-child {
    margin-left: auto;
}

.add-space {
    margin-left: -17px;
}

.defaultcheck {
    padding-left: 32px;
}

.defaultcheck2 {
    padding-left: 20px;
}

.editbtn {
    height: 0px;
    cursor: pointer;
}

.deletebtn {
    height: 0px;
}

// .supersviosor{
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -18px;
//   height: 60px;
// }

.supersviosor {
    display: flex;
    flex-wrap: wrap;
    // margin-left: -18px;
    /* height: 60px; */
    // justify-content: space-between;
}

.roleschange {
    margin-top: 10px;
}

.searchname {
    display: flex;
    float: right;
    padding: 8px;
}

.searchname2 {
    // display: flex; */
    float: right;
    /* padding: 8px; */
    margin: 16px 0px;
}

.useroles {
    margin-top: 10px;
}

.labeltext {
    padding-bottom: 15px;
}

.multiline {
    // border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}

.hourelybased {
    display: flex;
    width: 97% !important;
    padding: 0px 10px;
    height: 45px;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    align-items: center;
}

.labelcontents {
    display: flex;
    //justifyContent :"space-between"
}

.agingtoggle {
    display: flex;
}

.fieldheight .ms-BasePicker-text .ms-Dropdown-title .ms-TextField-fieldGroup .fieldGroup {
    height: 27px !important;
}

.labelcontent1 {
    width: 60%;
    float: left;
}

.dropdowncard {
    width: 150px;
    margin-right: 5px;
}

.checkboxlabel {
    width: 200px;
    margin-top: 0px;
}

.businesslabel {
    margin: 5px 10px;
}

.bg {
    padding: 1px 4px;
    height: 80px;
}

.optionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marginNormal {
    margin-top: 5px;
}

.survey {
    margin-bottom: 15px;
}

.container {
    // background: #f6f6f6;
    border: 1px solid #e6e6e6;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 15px;

    // THEMES1
    background-color: var(--lightThemeBGcolorWhite) !important;

    h4 {
        color: var(--lightThemeTextColorBlack) !important;
    }
}

.labelStyle {
    font-size: 12px;
    margin-bottom: 7px;

    //THEMES1
    color: var(--lightThemeTextColorBlack) !important;

}

.font12 {
    font-size: 13px;

    // THEMES1
    color: var(--lightThemeTextColorBlack) !important;
}

.input {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    padding: 0px;
}

.checkbox {
    margin-top: 10px;
    padding: 0px;
    font-size: 13px;
}

.button {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.dialogButtons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button1 {
    // margin-left: 7px;
    min-width: 90px !important;
    max-width: 10px !important;
    // padding-bottom: 3px;
    align-items: center;
    // margin-right: 8px;
}

.button2 {
    margin-left: 10px !important;
    min-width: 90px !important;
    max-width: 10px !important;
    // padding-bottom: 3px;
    align-items: center;

    //THEMES1
    background-color: var(--lightThemeBGcolorWhite) !important;
}

.tooltip {
    float: left;
}

.divmail {
    //margin-top: 10px;
    width: 70%;
    float: left;
}

.ticketdisplay {
    display: inline-block;
    width: 100%;
}

.div1 {
    width: 60%;
    float: left;
}

.div2 {
    width: 100%;
    float: left;
    margin-top: 0px;
}

.info:hover {
    background-color: transparent;
    // conflict tooltip
    // background-color: var(--lightThemeBGcolorWhite) !important;
    cursor: pointer;
}

.togglebar {
    float: right;
    margin-top: -22px;
}

// .mailboxticket {
//   width: 100%;
// }
.mailboxticket2 tbody tr {
    height: 4vh;
    // background: #eeeeee;
}

// .mailboxticket tbody td i{
//   margin: 0px;
// }
.mailboxticket2 {
    width: 100%;
}

.mailboxticket2 tbody td i {
    margin-right: 5px;
    margin-top: 2px;
}

.mailboxticket2 tbody td {
    padding: 0px;
}

.placeholderButtton {
    margin: 10px;
    justify-content: flex-end;
    display: flex;
    float: right;
    padding-top: 7px;
}

.placeholderButtton button {
    justify-content: flex-end;
    display: flex;
    float: right;
}

.Box {
    border: none;
}

.Box {
    display: flex;
    flex-direction: row;
    background: var(--lightThemeBGcolorWhite) !important;
    border: 1px solid var(--lightThemeBGcolorWhite) !important;
    margin: 15px 0px;
    padding: 5px;
    width: 100%;
    // height: 300px;
}

.Boxleft {
    height: 96%;
    padding: 5px;
    width: 100%;
    float: left;
    background: var(--lightThemeBGcolorWhite) !important;
    border: 1px solid var(--lightThemeBGcolorWhite) !important;
}

.Boxright {
    width: 90%;
}

.Boxright button {
    // border-radius: 4px;
    // outline: none;
    // background: #f3f5f7;
    text-shadow: none;
    min-width: 0px;
    text-align: center;
    letter-spacing: 0.3px;
    // font-weight: 500;
    // color: #183247;
    margin: 5px 3px;
    box-shadow: none;
    padding: 7px 15px;
    // text-decoration: none;
    //  background-image: linear-gradient(to bottom, #ffffff,#f3f5f7);
}

.Boxright button:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.emailPivot {

    display: flex;
    flex-direction: column;
}

.row {
    padding-top: 0px;
}

.boxshadow {
    padding: 1% 2px 1% !important;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
}

// .boxshadow{
//   //background: #f2f2f2;
//    // box-shadow: 1px 1px 4px #ddd;
//     padding: 10px 15px 18px;
//     margin: -15px -2px 3px;
//     margin-bottom: 8px;
//     float: left;
//     width: 97%;
//     border-bottom: 1px solid #dadada;
// }
.newpnel {
    margin-left: 74px;
}

.businessdiv {
    padding-top: 20px;
}

.btnn {
    margin-top: 10px;
    margin-left: 0px;
}

.newadd {
    margin-left: 97px;
}

.texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maillabel {
    margin-top: 10px;
}

// .automatetic{
//   margin-left: 10px;
// }

.attchthings {
    display: block;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.attchthings i {
    font-size: 15px;
    // margin: 5px;
    cursor: pointer;
}

.attachments {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0px 3px 0px;
}

.attachmentMargin {
    margin-right: 5px;
}

.imgload {
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.imgload i {
    cursor: pointer;
    color: '[theme:themePrimary]';
    // color:var(--lightdarkColor) !important;
}

.attchIcon {
    color: var(--lightdarkColor) !important;
}

.imgload input {
    display: none;
    margin-left: 5px;
    color: var(--lightdarkColor) !important;
}

.imgload button {
    height: 22px;
    /* margin-left: 0px; */
    /* padding: 0px; */
    width: 20px;
}

.files {
    display: block;
    margin-bottom: 5px;
}

.files a {
    font-size: 15px;
    // background: #eee;
    margin-left: 0;
    border-radius: 5px;
    padding: 3px 0px;
    display: inline-block;
    width: 100%;
}

.files button {
    color: #c45151;
    margin: 0px 0px 0px 5px;
    // height: 15px;
}

.files div {
    // background: #fff;
    color: #4c78c9;
    // border-radius: 5px;
    // padding: 3px 6px;
    // margin-right: 5px;
    // display: inline-block;
    // margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
}

//Customer Satisfaction
.twoboxes {
    display: flex;
    flex-direction: row;
}

.threeboxes {
    display: flex;
    flex-direction: row;
}

.satisfactionContainer {
    display: flex;
}

.BoxesContainer {
    display: flex;
}

.Satisfiedbox {
    // background-color: #fff;
    border-top: 5px solid rgb(24, 158, 0);
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    //THEMES1
    background-color: var(--lightThemeBGcolorWhite) !important;
}

.Satisfiedbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;

    //THEMES1
    color: var(--lightThemeTextColorBlack) !important;
}

.Disatisfiedbox {
    // background-color: #fff;
    border-top: 5px solid rgb(255, 89, 89);
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    //THEMES1
    background-color: var(--lightThemeBGcolorWhite) !important;
}

.Disatisfiedbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;
    //THEMES1
    color: var(--lightThemeTextColorBlack) !important;

}

.Fairbox {
    background-color: #fff;
    border-top: 5px solid rgb(255, 208, 18);
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.Fairbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;
}

.MostlySatisfiedbox {
    background-color: #fff;
    border-top: 5px solid rgb(107, 180, 55);
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.MostlySatisfiedbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;
}

.MostlyDissatisfiedbox {
    background-color: #fff;
    border-top: 5px solid #fa7543;
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.MostlyDissatisfiedbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;
}

.SomewhatSatisfiedbox {
    background-color: #fff;
    border-top: 5px solid #9cd807;
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.SomewhatSatisfiedbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;
}

.SomewhatDissatisfiedbox {
    background-color: #fff;
    border-top: 5px solid rgb(255, 170, 89);
    height: 100px;
    width: 105px;
    margin: 5px 2px;
    border-radius: 6px 6px 0px 0px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.SomewhatDissatisfiedbox p {
    text-align: center;
    /* padding: 0px 40px; */
    font-size: 16px;
}

.label {
    margin-right: -12px;
}

// ********************// ticketfields //*****************************
.Card {
    padding: 1% 0px !important;
    padding-bottom: 1% !important;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
}

.Card3 {
    padding: 0.5% 0% !important;
    padding-bottom: 1% !important;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardforTicketSequence {
    // padding: 1% 0px!important;
    // padding-bottom: 1% !important;
    //  float: left;
    //  width: 100%;
    //  box-sizing: border-box;
    display: flex;
    // border-bottom: 1px solid #dadada;
}

.CardforAutoAssign {
    padding-bottom: 1% !important;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
}

.labelcontent {
    float: left;
}

.toggleticket {
    float: right;
    // margin-top: 6px;
}

.toggleagentticket {
    float: right;
    // margin-top: 6px;
}

.toggletimetrack {
    float: right;
    // margin-top: 6px;
}

.toggletimetrackmandatory {
    float: right;
    // margin-top: 6px;
}

.spanwdth {
    width: 60px;
    // gap: 5px;
}

//Add New
.FlexinRow {
    display: flex;
    flex-direction: row;
}

.textwidth {
    width: 90%;
    padding: 0px 10px;
}

.toalignproper {
    // justify-content: space-between;
    margin-bottom: 12px;
}

.toalignproper label {
    width: 130px;
    display: inline;
}

.MailboxBar {
    justify-content: space-between;
}

.searchforemail {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.messagemargin {
    margin-bottom: 5px;
}

.addicon {
    display: inline-flex;
    margin-top: 10px;
}

//button loader
.elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards infinite;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
}

.elementToFadeInAndOut div {
    width: 6px;
    height: 6px;
    background: var(--lightdarkColor);
    display: inline-block;
    margin-right: 2px;
    border-radius: 50%;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

//Users
.addsync {
    display: flex;
    align-items: center;
    width: 40%;
}

.searchexcel {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}

.excelicon {
    height: 31px;
    margin-left: 5px;
}

.excelicon button {
    height: 30px;
}

.userslist {
    width: auto;
    margin-top: 5px;
}

//phone
.divtohidearrow {
    background-color: white;
    height: 22px;
    width: 22px;
}

//



.boxalign {
    float: left;
    background: #fff;
    padding: 0px 5px;
    box-shadow: none;
    margin: 0px 0px 0px;
    height: 100%;
    overflow: hidden;
    min-height: 62px !important;
}

.emailcheckbox {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.checkbox2 {
    margin-right: 5px;
}

.FilterDropdown {
    min-width: 150px;
    max-width: 180px;
    margin-right: 8px;
}

.FilterDropdownusers {
    min-width: 120px;
    max-width: 180px;
    margin-right: 8px;
}

.addnew {
    // display: inline-flex;
    // flex: 50%;
    // flex-direction: row;
    // overflow: hidden;
    // flex-wrap: wrap;
    // width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 0px 10px;
    padding: 0px 0px;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    // gap: 0px 10px;
    // padding: 0px 0px;
}

.descpad {
    padding: 0px;
    padding-bottom: 50px;
}

.syncbuttonicon i:hover,
.syncbuttonicon i:active {
    background-color: #fff;
}

.Subsearchexcel {
    display: flex;
    align-items: center;
    // margin-top: 5px;
}

.labelinfoicon {
    display: flex;
    align-items: center;
}

//SLAPOLICIES STARTS
.EnableSLA {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.titleandinfo {
    display: flex;
    align-items: center;
    width: 40%;
}

.flexalign {
    display: flex;
    align-items: center;
}

.flexalignspacebet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkboxaligns {
    display: flex;
}

.supervisorclassSLA {
    /* display: flex; */
    width: 19%;
    margin-left: 20px;
    margin-bottom: 1%;
}

.supervisorclassSLACal {
    width: 45%;
    margin-left: 15px;
}

.supervisorclassSLACal35 {
    width: 35%;
    margin-left: 15px;
}

.labelclassSLA {
    width: 25%;
}

.checkandEdit {
    display: flex;
    align-items: center;
}

.supersviosorsla {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}

.panelcheckboxxes {
    display: block;
}

.checkboxstyle {
    padding: 5px 0px;
}

.slaportion {
    /* background: #f2f2f2; */
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ddd;
    // box-shadow: 0px -1px 8px #ded9d9;
}

.SubSLAportion {
    display: block;
}

.titleandcheckboxes {
    display: flex;
    // align-items: center;
    width: 100%;
}

.slADisplay {
    display: contents;
    width: 90%;
}

.sslatog {
    margin-top: 6px;
}

.slaportion .ms-Toggle {
    margin-bottom: 0px;
}

.withinstyles {
    display: flex;
}

.widthstyle {
    width: 33.3%;
    padding: 2px 8px;
    border: 1px solid #f2f2f2;
}

.Tablewid {
    width: 100%;
    border: 1px solid;
    height: 322px;
    // border-color: '[theme:themePrimary]';
    border-color: var(--lightdarkBG);
}

// .Tablewid thead tr{
//   // background: '[theme:themePrimary]';
//   // color: #fff;
// }
.thstyles {
    padding: 9px;
}

.Hrsfield {
    width: 40%;
    padding: 2px 4px;
    //margin-top: 10px;
}

.DropfieldsApplySLA {
    max-width: 22.5%;
    width: 23%;
    padding: 2px 4px;
    min-width: 22.5%;
}

.downslacontent {
    display: block;
}

.downslacontentHide {
    display: none;
}

//Survey Component
.ratingpage {
    width: 90%;
    padding: 2% 1%;
}

.surveytext {
    // width: 50%;
    padding: 0% 10%;
}

.ratingdiv {
    /* background-color: #f4f4f4; */
    /* width: 70%; */
    /* padding: 15px; */
    margin-top: 15px;
}

.ratepad {
    padding: 5px 0px 5px 0px;
}

.ratingbutton {
    margin-bottom: 5px;
}

.mainratingdiv {
    // display: flex;
    // justify-content: center;
    /* display: flex; */
    padding: 0 10% 0 10%;
}

.thankyoutext {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.centertext {
    text-align: center;
}

.dialogButtons5px {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.onretrysurveyDiv {
    display: flex;
    justify-self: center;
}

.onretrysurvey {
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
}

.thankyoulable {
    font-size: 20px;
    font-weight: 700;
}

.spanstyle {
    background: #eee;
    padding: 6px 50px;
    font-weight: 500;
    border: 1px solid #ddd;
    color: #4c4c4c;
    font-size: 18px;
}

.LabelStars {
    display: flex;
    align-items: center;
}

.LabelStars i {
    margin-right: 1px;
    color: rgb(255 164 72) !important;
}

.LabelStars span {
    padding: 0px 3px 0 2px;
}

.starsDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.RatingStars i {
    color: rgb(255 164 72) !important;
}

//SLAPOLICIES ENDS
:global {
    .ms-Grid {
        padding: 0px !important;
    }

    .userslist .ms-DetailsList-contentWrapper .ms-DetailsRow-fields {
        align-items: center !important;
    }
    //<--------------------Apply-SLA-Policies-Div-------------------->//
    .Apply-SLA-Policies-Div{
        .ms-Icon{
            color:var(--lightThemePivotTextBlack) !important;
        }
    }

    //   .pivotCustomBGcolorrr>.m::before {
    //     background-color: var(--lightdarkBGGray)!important;
    //     bottom: 0px;
    //     content: "";
    //     height: 2px;
    //     left: 8px;
    //     position: absolute;
    //     right: 8px;
    //     transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    //   .linkIsSelected-276::before {
    //     bottom: 0px;
    //     content: "";
    //     background-color: var(--lightdarkBGGray)!important;
    //     height: 2px;
    //     left: 8px;
    //     position: absolute;
    //     right: 8px;
    //     transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    // .linkIsSelected-363::before {
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   background-color: var(--lightdarkBGGray)!important;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    // .linkIsSelected-392::before {
    //   background-color: var(--lightdarkBGGray);
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    // .linkIsSelected-393::before {
    //   background-color: var(--lightdarkBGGray);
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    // .linkIsSelected-394::before {
    //   background-color: var(--lightdarkBGGray);
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    // .linkIsSelected-398::before {
    //   background-color: var(--lightdarkBGGray);
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    // .linkIsSelected-399::before {
    //   background-color: var(--lightdarkBGGray);
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
    //   .linkIsSelected-420::before {
    //   background-color:  var(--lightdarkBGGray)!important;
    //   bottom: 0px;
    //   content: "";
    //   height: 2px;
    //   left: 8px;
    //   position: absolute;
    //   right: 8px;
    //   transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s, right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
    // }
}

// @media all and (min-width:540px){
//   .labelcontentticket {
//     margin-left: -34px;
//   }
//   .toggleticket2{
//     margin-right: -20px;
//   }
// }
// @media all and (max-width:400px) {
//   .labelcontentticket {
//     margin-left: -32px;
//   }
// }
// .Customcol {
//   display:flex;
//   // background-color: #ccc;
//   width:100%;



.customsearch {
    float: right !important;
    margin-top: 7px;
    position: relative;
    margin-left: 308px;
}

.customsearch1 {
    float: right !important;
    margin-top: 7px;
    position: relative;
    margin-left: 370px;
}

.newcol {
    margin: 0px;
    display: block;
    padding: 0px;
}

.newlab {
    font-size: 14px;
    margin: 5px;
    padding: 0px;
}

.newcheckbox {
    display: flex;
    margin: 3px;
    padding: 5px;
}

.newbtn {
    margin: 10px 5px 5px 5px;
}

.saveandAddmore {
    min-width: 90px !important;
    max-width: 155px !important;
    margin-left: 10px !important;
    align-items: center;
}

// .newbuttn.label {
//   margin-left:-14px;
// }
//general setting
.genwdth {
    display: 'flex';
    width: 100%;
    box-sizing: border-box;
    // border-bottom: 1px solid #dadada;
    border-bottom: 1px solid  var(--lightThemeBorderBottomColor) !important;;
    float: left;
    padding: 1% 0;
    align-items: center;
    justify-content: space-between;
}

.genwdth3 {
    display: 'flex';
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid  var(--lightThemeBorderBottomColor) !important;
    float: left;
    padding: 1% 0;
    align-items: center;
    //justify-content: space-between;
}

.genwdth2 {
    display: 'flex';
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid  var(--lightThemeBorderBottomColor) !important;
    //float: left;
    padding: 1% 0;
    align-items: center;
    //justify-content: space-between;
    gap: 2px;

}

.genwdthForTabs {
    width: 100%;
    box-sizing: border-box;
    // border-bottom: 1px solid #dadada;
    border-bottom: 1px solid  var(--lightThemeBorderBottomColor) !important;;
    float: left;
    padding: 1% 0;
    align-items: center;
    justify-content: space-between;
}

.genset {
    width: 100%;
    display: flex;
}
.gensetResloved {
    width: 100%;
    display: flex;
    justify-content: inherit;
}

.genset2 {
    width: 40%;
    // padding-top: 5px;
}

.genset3 {

    width: 85%;
    display: flex;
}

.genset4 {
    width: 60%;
    // width:45%;
    padding-top: 5px;
}

.genset5 {

    width: 90%;
    display: flex;
}

.genset6 {
    width: 85%;
    // padding-top: 5px;
}

.genset7 {
    width: 22%;
    display: flex;
}

.genset8 {
    width: 29%;
    display: flex;
}

.txtfld {
    width: 50% !important;

}

.svbtn {
    // width:20%;
    display: flex;
    justify-content: flex-end;
}

.configbtn {
    min-width: 90px;
    max-width: 10px;
    // THEMES1
    // background-color: var(--lightThemeBGcolorWhite) !important;
    // color: var(--lightThemePivotTextBlack) !important
    // color: var(--lightThemeTextColorBlack) !important;


}

.savbtn {
    width: 15%;

    .ms-Button--primary {
        color: var(--lightdarkColor);
        background-color: var(--lightdarkBGGray);
        border: var(--lightdarkBGGray);
    }
}

.alluser {
    width: 37%;
    padding-top: 5px;
}

.alluser1 {
    width: 75%;
    padding-top: 5px;
}

.RightAlignToggleButton {
    width: 20%;
}
.RightAlignInputField {
    width: 25rem;
}
.RightAlignToggleButton2 {
    width: 32%;
}

.svbtn2 {
    width: 22%;
    margin-left: 84px;
    margin-top: 5px;
    max-width: 125px;
}

.svbtn3 {
    width: 15%;
    margin-left: 26px;
    // margin-top:5px;
}

.savicon {
    width: 10%;
    color: rgb(202, 80, 16);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    line-height: 25px;
}

.genchkbx {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    // padding: 6px;
    margin-right: 14px;
}
.genchkbxResloved {
    display: flex;
   // width: 44%;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
    // padding: 6px;
    margin-right: 14px;
}

.genchkbx1 {
    display: flex;
    // flex: 2 1 30%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    // padding: 6px;
    margin-right: 14px;
}

.brnd {
    padding-bottom: 200px;
}

.brndbox {
    padding: 6px 0px;
    margin: 0px;
    float: left;
    width: 100%;
}

.logolabel {
    width: 75%;
    float: left;
}

.logobtnlabel {
    width: 25%;
    float: right;
    padding-top: 24px;
    text-align: right;
}

.cropbtn {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
    //  margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 25px;
}

.savlog {
    margin-left: 9px;
    max-width: 125px;
}

.savlog2 {
    margin-left: 9px;
    max-width: 127px;
}
.uplogo {
    // Our button
    text-decoration: none;
    height: 32px;
    font-weight: 400;
    // Primary Button
    min-width: 80px;
    // background-color: '[theme:themePrimary]';
    border-color: '[theme:themePrimary]';
    // color: #fff;
    color: var(--lightdarkColor) !important;
    background-color: var(--lightdarkBGGray) !important;
    // Basic Button
    outline: transparent;
    position: relative;
    border-radius: 2px;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    // -webkit-font-smoothing: antialiased;
    // font-size: $ms-font-size-m;
    // font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;
    // font-weight: $ms-font-weight-semibold;
    // font-size: $ms-font-size-m;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
}

//Apply SLA Policies

.mainlblstyles {
    display: block;
}

// .mainlabelstyles{
//   padding-bottom: 70px;
//   //margin-top: 40px;
//   display:flex;
// }
.mainlabelstyles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 25px;
    color: var(--lightThemeTextColorBlack) !important;
}

.slalabel .ms-Label {
    min-width: 25%;
    width: 25%;
    padding: 10px 0px 0px 4px;
}

.Dropfields {
    max-width: 60%;
    width: 50%;
    padding: 2px 4px;
    min-width: 40%;
}

// TEMP
.PriorityDropStyles {
    width: 90px;
    margin: auto;
}


.labelstyles {
    // / margin-top: 0; /
    display: flex;
    width: 25%;
    min-width: 25%;
    justify-content: flex-start;
    font-weight: 500;
}

.ms-Label {
    min-width: 25%;
    width: 25%;
    padding: 10px 0px 0px 4px;
}

// .labelstyles{
//   //display: flex;
//  margin-top: 0px;
// }
.mstextstyles {
    // display: flex;
    align-items: center;
    border-bottom: 1px solid #f8f8f8;
    background: #f8f8f8;
    margin-bottom: 0px;
    margin-right: 10px;
    // margin-top: 10px;
}

.dropstyles {
    display: flex;
    align-items: center;
}

.Textsfield {
    margin: 0px;
}

.plusicon {
    color: rgb(202, 80, 16);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    line-height: 25px;
    margin-right: 35px;
}

.panelcon {
    padding-bottom: 70px;
    padding-top: 10px;
}

.allCannedres {
    width: 100%;
}

.gcannedres {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    float: left;
    background: #f6f6f6;
    padding: 10px 5px;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.gcanntext {
    // display: flex;
    justify-content: space-between;
    width: 85%;
}

.caneddata {
    display: flex;
    padding-right: 15px;
}

.cantoggle {
    width: 15%;
    /* margin-left: 516px; */
    margin-top: -71px;
    float: right;
}

.cantabbtns {
    margin-left: 0px;
    background: transparent;
    margin-top: 2%;
    padding-bottom: 10px;
    /* margin-top: 55px; */
}

.cantabbtns1 {
    background: #f4f4f4 !important;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 2px;
    min-width: 80px;
    max-width: 200px;
    outline: 0;
    border: none;
    color: #333;
    margin-left: 0px;
}

.labline {
    box-sizing: border-box;
    border-bottom: 2px solid #eee;
}


.droplabel {
    display: flex;
}

.dropstyle {
    width: 50%;
    margin-left: 10px;
}

.newbutton {
    float: right;
    margin-top: -32px;
}

.newbuttonAuto {
    float: right;
}

.custmcolset {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 13px;
}

.srhcustommrg {
    margin-top: 5px;
}

.txtfld2 {
    width: 15% !important;
    ;
}

//================================Media Query Starts=========================

@media all and (max-width:1024px) {

    // .commBarandSearchStylesUsers{
    //   display: block;
    // }
    .addsync {
        width: 100%;
    }

    .searchexcel {
        // display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        // -ms-flex-pack: start;
        // justify-content: flex-start;
    }
}

@media all and (max-width:768px) {
    .addnew {
        display: block;
    }
}

@media all and (max-width:380px) {
    .customsearch {
        margin-top: 10px;
        margin-left: 31px;
    }

    .customsearch1 {
        margin-left: 116px;
    }
}

@media all and (min-width:381px) and (max-width:500px) {
    .customsearch {
        margin-top: 10px;
        margin-left: 79px;
    }

    .customsearch1 {
        margin-left: 155px;
    }
}

@media all and (min-width:501px) and (max-width:600px) {
    .customsearch {
        margin-top: 10px;
        margin-left: 7px;
    }

    .customsearch1 {
        margin-left: 88px;
    }
}

@media all and (min-width:600px) and (max-width:1000px) {
    .customsearch {
        margin-top: 10px;
        margin-left: 257px;
    }

    .customsearch1 {
        margin-left: 321px;
    }
}

.plusremove {
    /* box-shadow: 1px 1px 4px #ddd; */
    padding: 6px 0px;
    /* margin: 5px 0px; */
    margin-top: 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
}

.contentbox1 {
    // display: flex;
    // justify-content: space-between;
    // padding: 0px 10px;
    color: var(--lightdarkColor);
    background-color: var(--lightdarkBGGray);
}

.colrtheme2 {
    background-color: var(--lightdarkBGGray) !important;
}

.colrtheme3 {
    // color:'[theme:themePrimary]';
    background-color: var(--lightdarkColor) !important;
}

@media all and (max-width:600px) {
    .genset {
        width: 65%;
        display: flex;
    }

    .genset2 {
        width: 70%;
        padding-top: 5px;
    }

    .genset3 {
        width: 85%;
        display: block;
    }

    .svbtn {
        width: 35%;

        // THEMES1
        // .ms-Button{
        // background-color: var(--lightThemeBGcolorWhite) !important; 
        // }
        .ms-Button--primary {
            color: var(--lightdarkColor);
            background-color: var(--lightdarkBGGray);
            border: var(--lightdarkBGGray);
        }
    }

    .usrmobile {
        display: grid;
    }

    .permobile {
        display: grid;
        width: 100%;
        // min-width:808px;
    }

    .genchkbx1 {
        display: block;
    }

    .svbtn3 {
        // margin-left: 128px;
        width: 15%;
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
    }

    .chkbxpading {
        padding-bottom: 8px;
    }

    .savbtn {
        width: 15%;
        margin-right: 39px;
        margin-top: 11px;
    }

    .setsurfceduo {
        min-width: 109px;
    }

    .labelwdth {
        width: 95%;
    }

    .textfldwdth {
        width: 208px !important;
    }

    .btnsv {
        left: 0px !important;
    }

    .toglebtn {
        min-width: 76px;
        margin-left: 9px;
    }

    .gensetwdth {
        width: 60%;
        min-width: 219px;
    }

    .toltipbtn {
        // top: 19px;
        left: -7px;
    }

    .labelwdth1 {
        width: 75%;
    }

    .toglemailbx {
        width: 25%;
        min-width: 69px;
        margin-top: -3px;
        float: right;
    }

    .caneddisplay {
        display: grid;
    }

    .canedsatis {
        width: 75%;
        min-width: 140px;
    }

    .savbtnfea {
        width: 25%;
        margin-left: 16px;
    }

    .featurewdth {
        min-width: 236px;
    }

    .enableSlaMobile {
        display: block;
    }

    .titleandinfomobile {
        width: 90%;
    }

    .labelclassSLA {
        width: 100%;
    }

    .supersviosorsla {
        width: 100%;
        display: block;
        min-width: 452px;
    }

    .supervisorclassSLACal {
        padding-bottom: 8px;
    }

    .slADisplay {
        display: block;
        width: 80%;
    }

    .superclassSLACal {
        width: 50%;
    }

    .sslatog {
        width: 20%;
        margin-top: 4px;
        margin-left: -10px;
    }

    .tbleheader2 {
        min-width: 108px;
    }

    .tbleheader3 {
        min-width: 98px;
    }

    .slaoverall {
        overflow-x: hidden;
    }

    .labelcontentticket {
        width: 85%;
        min-width: 263px;
    }

    .Card3 {
        display: flex;
        justify-content: space-between;
    }

    .toggleticket2 {
        width: 15%;
        min-width: 70px;
    }

    .svmobileview {
        margin-top: 29px;
        margin-left: 24px;
    }

    .chkbxmobileview {
        width: 100%;
        margin-left: -7px;
        min-width: 315px;
    }

    .thirdrowgenstng {
        width: 80%;
        padding-top: 0px;
    }

    .logolabel {
        width: 100%;
        margin-bottom: 7px;
    }

    .logobtnlabel {
        width: 40%;
        float: none;
        margin-left: 0px;
    }

    .logobtnlabel2 {
        width: 19%;
        float: right;
        padding-top: 0px;
        text-align: right;
    }

    .cropbtn {
        width: 100%;
        // margin-top: -38px;
        margin-left: 0px;
    }

    .configbtnmobvw {
        margin-left: 16px;
    }

    .gentogmob {
        width: 25%;
        margin-left: 19px;
    }

    .genlabel {
        min-width: 230px;
    }

    .searchexcel {
        display: flex;
        width: 85%;
    }

    .Subsearchexcel {
        display: flex;
        width: 100%;
        /* justify-content: space-between; */
    }

    .commBarandSearchStylesUsers {
        // -ms-flex-pack: justify;
        // justify-content: space-between;
        display: inline-flex !important;
        flex-wrap: wrap !important;
    }

    .commBarandSearchStyles {
        width: 75%;
    }

    .FlexCenter {
        display: block;
    }

    // .synminwidth {
    //   min-width: 187px;
    //   margin-left: -10px;
    // }
    // .FilterDropdownusers {
    //   min-width: 324px;
    //   margin-bottom: 8px;
    // }
    // .sechbxuser {
    //   width:72%;
    //   min-width: 233px;
    // }
    // .userdisplaysrch {
    //   display: block;
    // }
    // .cmdbrsrchstyle {
    //   display: flex;
    // }

    .SLAName {
        border: 0px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.85);
        color: #777;
        margin-top: 10px;
    }
}

@media all and (max-width:480px) {
    .synminwidth {
        min-width: 187px;
        margin-left: -5px;
    }

    .FilterDropdownusers {
        min-width: 324px;
        margin-bottom: 8px;
    }

    .sechbxuser {
        // width:72%;
        // min-width: 233px;
        width: 100%;
        min-width: 289px;
    }

    .userdisplaysrch {
        display: block;
    }

    .cmdbrsrchstyle {
        display: flex;
    }

    .enableSlaMobile {
        width: 75%;
    }

    .genwdth {
        justify-content: space-between;
    }

    .tglfeature {
        margin-left: -10px !important;
        margin-right: -7px;
    }
}

@media all and (min-width:500px) and (max-width:550px) {
    .toglemailbx {
        margin-top: -18px !important;
    }

    .savbtnfea {
        width: 25%;
        margin-left: 0px;
    }

    .sslatog {
        margin-left: 23px;
    }

    .chkbxmobileview {
        min-width: 305px;
    }

    .gentogmob {
        margin-left: 0px;
    }

    .logobtnlabel {
        width: 45%;
        margin-left: -6px;
    }

    .thirdrowgenstng {
        width: 87%;
        padding-top: 0;
    }

    .sechbxuser {
        width: 72%;
        min-width: 403px;
        margin-top: 5px;
    }

    .cmdbrsrchstyle {
        margin-top: 5px;
    }

    .FilterDropdownusers {
        min-width: 158px;
    }

    .enableSlaMobile {
        min-width: 192px;
        display: block;
        width: 75%;
    }

    .tglfeature {
        margin-left: -10px !important;
        margin-right: -3px;
    }
}

@media all and (min-width:601px) and (max-width:1280px) {

    .alluser {
        width: 28%;
        padding-top: 5px;
        // min-width: 101px;
    }

    .Applicationtitle {
        width: 45%;
    }

    .genchkbx1 {
        display: flex;
        justify-content: flex-start;
    }

    .genset4 {
        width: 58%;
        padding-top: 5px;
        min-width: 188px;
    }

    .gensetwdth {
        width: 89%;
    }

    .savbtn {
        width: 15%;
        margin-top: 15px;
    }

    .chkbxleft {
        margin-right: 85px;
    }

    .chkbxleft1 {
        margin-right: 91px;
    }

    .chkbxleft8 {
        margin-right: 11px;
    }

    .chkbxleft2 {
        margin-right: 52px;
    }

    .chkbxleft3 {
        margin-right: 45px;
    }

    .chkbxleft4 {
        margin-left: 0px;
    }

    .genset3 {
        display: block;
    }

    .svbtn3 {
        width: 15%;
        margin-left: 26px;
    }

    .labelwdth {
        width: 50%;
    }
}

@media all and (min-width:390px) and (max-width:420px) {
    .toglebtn {
        margin-left: 31px !important;
    }

    // .cropbtn {
    //   margin-left:127px;
    // }
}

@media all and (max-width:360px) {
    .Tablewid {
        margin-left: -11px;
    }

    // .cropbtn {
    //   margin-left: 108px;
    // }
}

@media all and (min-width:361px) and (max-width:380px) {
    .Tablewid {
        margin-left: -5px;
    }

    // .cropbtn {
    //   margin-left: 118px;
    // }
    .logobtnlabel {
        margin-left: -13px;
    }
}

@media all and (min-width:381px) and (max-width:400px) {

    // .cropbtn {
    //   margin-left: 123px;
    // }
    .logobtnlabel {
        margin-left: -20px;
    }
}

@media all and (min-width:401px) and (max-width:420px) {

    // .cropbtn {
    //   margin-left: 131px;
    // }
    .logobtnlabel {
        margin-left: -29px;
    }

    .synminwidth {
        min-width: 187px;
        margin-left: 9px;
    }

    .FilterDropdownusers {
        min-width: 356px;
        margin-bottom: 8px;
    }

    .sechbxuser {
        width: 72%;
        min-width: 269px;
    }
}

// TicketProperties Panel
.ticketFieldsLabels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticketProperties {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userCheckbox {
    position: absolute;
    left: 50%;
    transform: translate(80%, 5px);
}

.grid_2 {
    display: grid;
    grid-template-columns: 90% 1fr;
    // align-items: baseline;
}

.ticket_properties {
    float: initial !important;
}

.member_grid_2 {
    display: flex;
    flex-direction: column;
}

.checkboxUser {
    display: grid;
    grid-template-columns: 57% 1fr;
    align-items: center;
    padding: 3px;
}

.MemberCheckbox {
    margin-bottom: 0px;
}

.MemberCheckboxdiv {
    margin-bottom: 3.84px;
    margin-top: 5px;
    padding: 3px;
}

.userTooltipIcon {
    display: flex;
    align-items: center;
}

.userTooltipIcon i {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}



.TicketAgingdropstyle {
    width: 100%;
    // margin-left: 5px;
    // padding: 0px 50px 0px 50px;
}

.AgingReportTableDiv {
    // background-color: white;
  background-color: var(--lightThemeBGcolorWhite) !important;
  color:var(--lightThemeTextColorBlack) !important
}

.AgingReportTableLable {
    // display: flex;
    font-weight: 700;
    // background-color: black;
    color:var(--lightThemeTextColorBlack) !important
}

.AgingReportTableHeading {
    // background-color: rgb(235, 30, 30);
    padding: 6px 33px 6px 28px;
    font-size: 12px;
    font-weight: 700;
    // border: 1px solid #dddddd;
    border: 1px solid var(--lightThemeBorderBottomColor) !important;
    text-align: left;
    padding: 8px;
}

.agingreportsEmail {
    display: flex;
    top: 6px;
    position: relative;
    background-color: var(--lightThemeBGcolorWhite);
}

.agingreportsEmailLabale {
    display: flex;
    position: relative;
    top: 10px;
    margin-left: 7px;
}

.agingreportsEmailTextFeild {
    display: flex;
}

.agingreportsEmailToggle {
    display: flex;
    position: relative;
    left: 93px;
    top: 12px;
}

.btu3 {
    margin-left: 10px !important;
    min-width: 90px !important;
    // max-width: 10px!important;
    // padding-bottom: 3px;
    align-items: center;
}

.DailogButtons {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.Dropfields2 {
    max-width: 100%;
    width: 100%;
    padding: 2px 4px;
    min-width: 40%;
}

//CustomFormSetting
.ChoiceFiledwithAddIcon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fieldAndPlusIcon {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.fieldAndPlusIcon i {
    cursor: pointer;
    margin-right: 5px;
}

.MainBoxSelectionField {
    // border: 1px solid #e9e9e9;
    padding: 0 10px;
    margin: 15px 0px;
}

.ChoiceDropdown {
    width: 60%;
    margin: 0 10px;
}

.ChoiceDropdown80 {
    min-width: 100%;
    max-width: 200px;
    margin: 0 0px;
}

.ChoiceDropdownAddNew {
    width: calc(50% - 10px);
}

.dropdownsBlock {
    display: flex;
    flex-direction: column;
}

.dropdownsBlockforCondition {
    width: 100%;
    margin-left: 20px;
}

.MainAlignValue {
    display: flex;
    align-items: center;
}

.MainAlignValuespan {
    overflow: hidden;
    white-space: nowrap;
    width: 30%;
    margin-right: 2%;
    /* border-right: 1px solid #ddd; */
    text-overflow: ellipsis;
    max-width: 30%;
}

.MainAlignValueLabel {
    width: 30%;
    float: left;
    // margin-top: 5px;
}

.selectedValue {
    margin-left: 5px;
}

.CustomFormField {
    // border: 0px solid #e6e6e6;
    //   border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    // background-color: rgba( 255,255,255,0.85 );
    // color: #777;
    // margin-top: 10px;
}

.CustomFormDiv {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.CustomFormLeftDiv {
    // border: 1px solid #e9e9e9;
    width: 70%;
    // margin-right: 1%;
    // padding: 10px;
    display: block;
}

.MainDivCustomForm {
    display: flex;
    // align-items: center;
}

.CustomFormLeftDivwithButton {
    border: 1px solid var(--lightThemeDropDownBorderColor) !important;
    padding: 10px;
    width: 100%;
}

.CustomFormRightDiv {
    width: 30%;
}

.CustomFormDepDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CustomDragIcon {
    display: flex;
    align-items: center;
}

.CustomDragIcon i {
    cursor: grab;
    margin-right: 8px;
}

.CustomLabelIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
}

.DeleteIcon {
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 9px;
}

.CustomLabelIcon .DragIcon {
    // position: absolute;
    cursor: grab;
    // left: 8px;
}

.CustomLabelIcon .ms-TextField {
    position: relative;
}

.genchkbx2 {
    display: flex;
    // flex: 2 1 30%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    // padding: 6px;
    margin-right: 14px;
}

.MandCheckbox {
    position: absolute;
    right: 25px;
    top: 6px;
}

.dragMsForm {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

.ListColum {
    background-color: var(--lightdarkBGTable);
}

.UpperField {
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
}

.CustomDefaultDiv {
    display: flex;
    align-items: center;
}

.TitledefCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.AddEdSelect {
    padding: 4px;
    border-radius: 2px;
    width: 60%;
    border-color: #e9e9e9;
    margin-left: 10px;
    height: 33px;
    font-weight: 400;
    color: #333;
    font-family: unset;
}

.LabelforHeading {
    display: flex;
    align-items: center;
}

.OptionsLabel {
    width: 39%;
}

.KBRequestersLeftDiv {
    justify-content: space-between;
    display: flex;
    padding-top: 5px;
    align-items: center;
    width: 76%;

    .ms-BasePicker-text {
        position: relative;
        left: 123px;
    }

    .ms-BasePicker .ms-BasePicker-text .ms-BasePicker-input {
        width: 100%;
        min-width: 204px;
    }
}

.knowledgebaseInputAlign {
    position: relative;
    left: 123px;
}

.MainTopEmailDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.LabelFormDiv {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.SelectCustomForm {
    width: 60%;
    margin-left: 5px;
}

.MainDivForFields {
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.grid_3 {
    width: 57%;
}

.checkboxUser2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CheckBoxDivFeilds {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.textcapitalize {
    width: 100%;
}

.uploadCSVblkStyles {
    width: 100%;
}

.CSVPanelMain {
    height: 100%;
    padding-top: 0%;
    box-sizing: border-box;
}

.linkcolornew {
    //color: "[theme:themePrimary]" !important;
    text-decoration: underline !important;
}

.importCSVFileBlk {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.importCSVFile {
    width: 60%;
}

.buttonSaveAndAddMore {
    min-width: 90px !important;
    max-width: 154px !important;
    align-items: center;
    margin-left: 7px !important;
}


.separatorButtonBlock {
    border-bottom: 1px solid #ddd;
    min-height: 35px;
    padding: 5px 0px;
}

.alignLeft {
    width: 50%;
    float: left;
}

.alignRight {
    // width: 50%;
    float: right;
}

// .ConfigureStyle {
//     color: var(--lightdarkColor) !important;
//     background-color: #ffffff !important;
//     border: 1px solid var(--lightdarkColor) !important;
// }

.MailBoxSteps {
    display: flex;
}

.ContinueBtu{
    display: flex;
    float: right;
    margin-top: 30px;
}
.StepSuccessCircle {
    background-color: #26a541;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    margin-top: 4px;
}

.StepNotTrue {
    font-size: 22px;
    border-radius: 50%;
    color: #d5d5d5
}

.stepsContent {
    margin-left: 10px;
}

.LabelDisabled {
    font-weight: 400;
    min-width: max-content;
}

.LabelMailID {
    font-weight: 400;
    font-size: 12px;
    min-width: max-content;
    color: #878787;
}

.Center {
    margin-top: -5px;
    background: #f0f0f0;
    height: 90px;
    width: 2.4%;
    margin-left: 8px;
}

.StepsLine1 {
    background: #26a541;
    border-color: #26a541;
    border-radius: 1px;
    height: 94px;
    animation: 2s linear;
    -webkit-animation: expand 3s;
}

.StepErrorCircle{
    background-color:  #ff4343;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    margin-top: 4px;
  }
  @keyframes expand{
    0%{height:0px}
    100%{height:95px}
  }

  .Center1{
    margin-top: -5px;
    background:#f0f0f0;
    height: 90px;
    width: 25%;
    margin-left: 8px; 
    }

    .StepsLine2{
        background:#26a541;
        border-color: #26a541;
        border-radius: 1px;
        height:94px;
         animation: 2s linear;
        -webkit-animation: expand 3s;
      }

      .FlowLoaderComponent{
        position: absolute;
        top: 240px;
        left: 225px;
      }

      .PleaseWait{
        color:var(--lightdarkColor);
        font-size: 16px;
        margin-left: 5px;
      }
         .datepicker {
        width: 100%;
        min-width: unset;
        max-width: unset;
    
        i {
          position: unset !important;
        }
    
        .ms-TextField-fieldGroup {
          .ms-DatePicker-event--without-label {
            position: unset !important;
          }
        }
      }

      .excelbutton {
        margin-left: 0px;
      }

      .flexAlignCenter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
      }
      .saveButton {
        min-width: 80px;
        max-width: fit-content !important;
      }
      
      .AttachMainBox{
        //   background: #fff;
  background: var(--lightThemeDashboardBGColor) !important;
          padding: 5px 0px 5px 5px;
          border-radius: 3px;
          display: flex;
          align-items: self-end;
          justify-content: space-between;
          border: 1px solid var(--lightThemePanelBGSwitcher);
          min-width: 140px;
          max-width: 140px;
          margin-right: 5px;
          margin-bottom: 5px;
          // cursor: pointer;
      }
      // .AttachMainBox i{
      // margin-top: 5px;
      // }
      .FileLabelDiv{
        max-width: calc(100% - 30px);
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .FileLabelDiv i{
        color: var(--lightThemePivotTextBlack) !important;
      }
      .AttachFileLabel{
        overflow: hidden;
        text-overflow: ellipsis;
        // / max-width: calc(100% - 0px); /
        white-space: nowrap;
        font-weight: 400;
        font-size: 12px;
        // color: #222 !important;
      }
      .AttachFileLabel a{
        color: var(--lightThemeTextColorBlack) !important;
      
      }
      .AttachFileIcon{
        font-size: 14px;
      }
      .FileCancelIcon button{
      padding: 0px;
      }
      .FileCancelIcon i{
        color: var(--lightThemeTextColorBlack) !important;
      }
      .ButtonsMainDiv{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .ButtonSecondOne{
        margin-left: 7px !important;
      }
      .ButtonFirstOne{
        max-width: 80px !important;
      }
      .noDataAvialble{
        color: var(--lightThemeTextColorBlack) !important;
      }
      .proceedBottombutton{
        padding-bottom: 20px;
        margin-top: 15px;
      }

          .ConditionBasedTooltip {
              position: absolute;
              top: 5px;
              left: 8rem;
          }


          .alignCheckboxedM365User{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0 10px 0;
            gap: 16px;
          }

.IgnoreUpAttachSizeDiv {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.IgnoreUpAttachSize{
    display: flex;
    justify-content: inherit;
    align-items: center;
}